body {
  background-color: rgb(53, 49, 49);
  color: aliceblue;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 35px;
  padding: 30px;
  border: 5px solid #aaa;
  display: block;
  border-radius: 25px;
  box-shadow: 3px 3px 8px #999;
  font-size: 1.7rem;
}

.lista {
  text-align: left;
  color: green;
}

#answer {
  font-size: 80%;
}

.good {
  color: aqua;
}

.bad {
  color: red;
}

#list {
  text-align: left;
}
